*{
	margin: 0;
	padding: 0;
}
body{
	background: #B1D8B7;
	padding: 3%;
	margin: 2%;
	border: 3px solid black;
}

h1{
	margin-bottom: 25px;
	text-align: center;
	font-size: 160%;
}

#right{
	width: 65%;
	float: right;
	text-align: justify;
	font-family: Georgia, serif;
}

#right > p {
	font-size: 110%;
}

#left {
	float: left;
	width: 35%;
	display: inline-block;
}

#left > img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	border-radius: 20px;
	box-shadow: 10px 10px grey;
}
#leftDiv {
	display: block;
	margin-right: auto;
	margin-left: auto;
	background: #2F5233;
	width: 70%;
	height: 20%;
	border-radius: 20px;
	box-shadow: 5px 5px grey;
	margin-top: 20px;
	text-align: center;
	font-family: Georgia, serif;
	font-size:  180%;
} 


#img {
  clear: both;
	padding-top: 50px;
}
.pics{
		height: 15em;
		margin-left:15%;
    border: 3px solid black;
}






